{{> header}}

<!-- Menu Horizontal -->
<ul class="menu">
    <li><a href="/">Home</a></li>
    <li class="current"><a href="/about">About</a></li>
    <li><a href="/update">Updates</a></li>
    <li><a href="/gallery">Gallery</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>

We specialised in customised cake, birthday/xmas cake, baby full month, cupcake/macaron, cookies.<br /><br />

<div class="clear"></div>
{{> footer}}
