<h1>{{title}}</h1>
<p>Welcome to {{title}}.  Custom Made Cake Deliver to you in Singapore</p>

<!-- Menu Horizontal -->
<ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/service">Services</a></li>
    <li><a href="/gallery">Gallery</a></li>
    <li class="current"><a href="/contact">Contact</a></li>
</ul>

<div class="grid flex">
  <label for="Name">Name</label>
  <input id="Name" type="text" />

  <label for="Email">Email</label>
  <input id="Email" type="text" />
</div>

<div class="clear"></div>
<div id="footer">
  &copy; 2015 {{title}} Copyright all rights reserved.
</div>
