{{> header}}

<!-- Menu Horizontal -->
<ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/update">Updates</a></li>
    <li><a href="/gallery">Gallery</a></li>
    <li class="current"><a href="/contact">Contact</a></li>
</ul>

<a href="https://www.facebook.com/mcakehousz">https://www.facebook.com/mcakehousz</a><br />
<a href="https://instagram.com/mcakehousz">https://instagram.com/mcakehousz</a><br />
<a href="https://twitter.com/mcakehousz">https://twitter.com/mcakehousz</a><br />
<a href="https://www.pinterest.com/mcakehousz">https://www.pinterest.com/mcakehousz</a><br />
<a href="http://www.mcakehousz.com">http://www.mcakehousz.com</a><br /><br />

Telephone number: 93829819/91069789<br />
Email: mcakehousz@outlook.com<br /><br />

<div class="clear"></div>
{{> footer}}
