{{> header}}

<!-- Menu Horizontal -->
<ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/term">Terms</a></li>
    <li><a href="/update">Updates</a></li>
    <li><a href="/gallery">Gallery</a></li>
    <li class="current"><a href="/contact">Contact</a></li>
</ul>

<div class="list-group">
<i class="fa fa-facebook fa-fw"></i>
<a href="https://www.facebook.com/mcakehousz">https://www.facebook.com/mcakehousz</a><br />
<i class="fa fa-instagram fa-fw"></i>
<a href="https://instagram.com/mcakehousz">https://instagram.com/mcakehousz</a><br />
<i class="fa fa-twitter fa-fw"></i>
<a href="https://twitter.com/mcakehousz">https://twitter.com/mcakehousz</a><br />
<i class="fa fa-pinterest fa-fw"></i>
<a href="https://www.pinterest.com/mcakehousz">https://www.pinterest.com/mcakehousz</a><br />
<i class="fa fa-bookmark fa-fw"></i>
<a href="http://www.mcakehousz.com">http://www.mcakehousz.com</a><br /><br />
</div>

<i class="fa fa-phone"></i> Telephone number: 93829819/91069789 <br />
<i class="fa fa-inbox"></i> Email: mcakehousz@outlook.com <br /><br />

<div class="clear"></div>
{{> footer}}
