{{> header}}

<!-- Menu Horizontal -->
<ul class="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/service">Services</a></li>
    <li class="current"><a href="/gallery">Gallery</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>

<!-- Gallery -->
<div class="gallery">
<a href="http://placehold.it/600x450/4D99E0/ffffff.png&text=cake1"><img src="http://placehold.it/100x100/4D99E0/ffffff.png&text=cake1" width="100" height="100" /></a>
<a href="http://placehold.it/600x450/75CC00/ffffff.png&text=cake2"><img src="http://placehold.it/100x100/75CC00/ffffff.png&text=cake2" width="100" height="100" /></a>
<a href="http://placehold.it/600x450/E49800/ffffff.png&text=cake3"><img src="http://placehold.it/100x100/E49800/ffffff.png&text=cake3" width="100" height="100" /></a>
<a href="http://placehold.it/600x450/E4247E/ffffff.png&text=cake5"><img src="http://placehold.it/100x100/E4247E/ffffff.png&text=cake5" width="100" height="100" /></a>
<a href="http://placehold.it/600x450/00C6E4/ffffff.png&text=cake6"><img src="http://placehold.it/100x100/00C6E4/ffffff.png&text=cake6" width="100" height="100" /></a>
<a href="http://placehold.it/600x450/E4DB0F/ffffff.png&text=cake7"><img src="http://placehold.it/100x100/E4DB0F/ffffff.png&text=cake7" width="100" height="100" /></a>
<a href="http://placehold.it/600x450/7400E4/ffffff.png&text=cake8"><img src="http://placehold.it/100x100/7400E4/ffffff.png&text=cake8" width="100" height="100" /></a>
<a href="http://placehold.it/600x450/C50000/ffffff.png&text=cake9"><img src="http://placehold.it/100x100/C50000/ffffff.png&text=cake9" width="100" height="100" /></a>
</div>

<div class="clear"></div>
{{> footer}}
