{{> header}}

<!-- Menu Horizontal -->
<ul class="menu">
    <li class="current"><a href="">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/service">Services</a></li>
    <li><a href="/gallery">Gallery</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>

<div class="headline col_12">
    <h3>Two columns one for Facebook and another for Twiter</h1>
    <p>Place holder for feeds from Facebook and Twitter update</p>
</div><!-- END SECONDARY HEADLINE -->

<div class="col_8">
    <!-- Slideshow -->
        <ul class="slideshow" width="600" height="350">
        <li><img src="http://placehold.it/550x350/4D99E0/ffffff.png&text=Cake1" width="600" height="350"></li>
        <li><img src="http://placehold.it/550x350/75CC00/ffffff.png&text=Cake2" width="600" height="350"></li>
        <li><img src="http://placehold.it/550x350/E49800/ffffff.png&text=Cake3" width="600" height="350"></li>
        </ul>
</div><!-- END SLIDESHOW -->

<div class="col_4">
    <h3>Cakes Showcase</h3>
    <p>April 5th Cakes</p>
    <button class="pink">Order Now</button>
</div><!-- END SLIDESHOW PARAGRAPH -->

<div class="clear"></div>
{{> footer}}
