{{> header}}

<!-- Menu Horizontal -->
<ul class="menu">
    <li class="current"><a href="">Home</a></li>
    <li><a href="/term">Terms</a></li>
    <li><a href="/update">Updates</a></li>
    <li><a href="/gallery">Gallery</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>


<h4>We specialised in customised cake, Birthday/Christmas cake, baby full month, cupcake/macaron, cookies.</h4><br />
<p>Free delivery for orders of SGD150 or above.  Please book your cake 3 days in advance, for customized cakes please book 7 days in advance.  Thanks </br>
Please contact us for more information. </p>

Telephone number: 93829819/91069789<br />
Email: mcakehousz@outlook.com<br />


<div class="col_8">
    <!-- Slideshow -->
        <ul class="slideshow" width="600" height="350">
        <li><img src="http://s20.postimg.org/eium81hel/photo_2015_10_20_01_49_02.jpg" width="600" height="512"></li>
        <li><img src="http://s20.postimg.org/soxwwmqfx/photo_2015_10_20_01_48_32.jpg" width="600" height="512"></li>
        <li><img src="http://s20.postimg.org/k5qz5ijx9/12109304_519558344869252_36029551779090988_n.jpg" width="600" height="512"></li>
        <li><img src="http://s20.postimg.org/p8cwe1il9/photo_2015_10_20_01_49_07.jpg" width="600" height="512"></li>

        </ul>
</div><!-- END SLIDESHOW -->

<div class="col_4">
    <h3>Cakes Showcase</h3>
    <button class="pink">Order Now</button>
</div><!-- END SLIDESHOW PARAGRAPH -->

<div class="clear"></div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
</script>

{{> footer}}
