{{> header}}

<!-- Menu Horizontal -->
<ul class="menu">
    <li><a href="/">Home</a></li>
    <li class="current"><a href="/term">Terms</a></li>
    <li><a href="/update">Updates</a></li>
    <li><a href="/gallery">Gallery</a></li>
    <li><a href="/contact">Contact</a></li>
</ul>

<h5><b><u>Term and Conditions:</b></u></h5>

1. ORDERS
<ul>
<li>Orders must be made through our email mcakehousz@outlook.com
<li>Customized cakes, cupcakes and etc. must be made at least 1 weeks in advance.(DEPENDING ON THE DESIGN).Simple Design must order 3days in advance
</ul>
2. CAKE DESIGN
<ul>
<li>The general outlook, colour and design will be close to similar to the design.
<li>Customized cake design are subjected to slight variations and availability of the decorative accessories.
<li>We are serves the rights to accept or reject any orders or designs including requests for specific time of deliveries.
<li>PLEASE BE NOTED THAT on the order may have some supporter such as like stick, wire and etc. due to the design.
</ul>
3. FRESHNESS
<ul>
<li>All the orders are best to consumed on the day of purchase or delivery.
<li>No preservatives are added to the order.
</ul>
4. DELIVERY
<ul>
<li>Complimentary delivery to one location for purchase orders above $150.
<li>$25 delivery charges to a location is applicable for the order below $150.
<li>All deliveries can only be made in Singapore.
<li>The delivery time cannot be fixed.
<li>We will endeavour to deliver within the delivery timing.
<li>Delivery time could be affected due to bad weather or traffic conditions and/or unforeseen circumstance.
<li>We shall not be liable or responsible for any late delivery or failure to deliver the products ordered due to unforeseen circumstances beyond control.
<li>Cakes must be checked and shall be seemed accepted if no errors are raised immediately upon collection or delivery.
<li>We reserves the rights not to entertain any complains thereafter.
</ul>
5. PAYMENT
<ul>
<li>A deposit of 50% of the order cost must be made upon ordering to book the slot for your order.
<li>Full payment must be made before delivery.
<li>All payments are non-refundable.
<li>The order slot will be auto released if no deposit payment is received upon ordering.
</ul>
6. AMENDMENT and CANCELLATIONS
<ul>
<li>No cancellation is allowed 5 working days prior to the collection or delivery date. ( exclude Saturday, Sunday and public holidays)
<li>Surcharges of $10 will be imposed for each amendment or cancellations.
<li>Amendment must be made 3 working days prior to the collection or delivery date.
<li>No refunded of the deposit is allowed when cancellation is made less than 5 working days from the date of collection or delivery.
</ul>

7. OTHERS
<ul>
<li>Prices, term and conditions are subjected to change without prior notice.
</ul>
<div class="clear"></div>
{{> footer}}
