body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.headline h1 {
  margin-bottom: 0;
  color: #FFBF00;
}

.headline p {
  margin-top: 0;
}

#footer {
  color: #000EEE;
}

/*---------------------------------
	Introduction in index
-----------------------------------*/

#intro {
  color: #0B0B61;
}

p#pheader {
  color: #DF7401;
}

/*---------------------------------
	List in Terms Page
-----------------------------------*/
